In [1]:
import pandas as pd

In [2]:
start_date = "2025-08-01"
end_date = "2025-08-05"
name = "my_output_folder"
folder_name = f"v2_data//pred_data//test_pred_v2_{start_date}_{end_date}//{name}"

In [3]:
raw_players = pd.read_csv(f"{folder_name}//raw_players.csv", index_col=False)
raw_matches = pd.read_csv(f"{folder_name}//raw_matches.csv", index_col=False)

player_matches = pd.read_csv(f"{folder_name}//player_matches.csv", index_col=False)
player_stats = pd.read_csv(f"{folder_name}//player_stats.csv", index_col=False)
player_hero_stats = pd.read_csv(f"{folder_name}//player_hero_stats.csv", index_col=False)
hero_stats = pd.read_csv(f"{folder_name}//hero_stats.csv", index_col=False)

In [6]:
def prepare_match_stats(raw_players: pd.DataFrame, raw_matches: pd.DataFrame, player_stats: pd.DataFrame) -> pd.DataFrame:
    """Prepares match for future merging by creating win column, and adjusting columns"""

    match_players = pd.merge(raw_players[['account_id','match_id','team','hero_id']], raw_matches, on='match_id', how='left')

    match_players['win'] = match_players.apply(
        lambda row: 'Y' if row['team'] == row['winning_team'] else 'N',
        axis=1
    )

    player_match_stats = pd.merge(match_players, player_stats, on=['account_id'], how='left')

    return player_match_stats

In [7]:
player_match_stats = prepare_match_stats(raw_players, raw_matches, player_stats)
player_match_stats

,account_id,match_id,team,hero_id,start_time,game_mode,match_mode,duration_s,winning_team,win,p_total_matches_played,p_total_kills,p_total_deaths,p_total_wins,p_total_assists,p_total_time_played,p_avg_kills,p_win_rate
0,1742834852,38397958,Team0,25,2025-08-01 00:01:00,Normal,Unranked,1625,Team1,N,59.0,590.0,180.0,46.0,571.0,96049.0,10.000000,0.779661
1,1822530191,38397958,Team0,4,2025-08-01 00:01:00,Normal,Unranked,1625,Team1,N,293.0,3064.0,1846.0,184.0,2970.0,499645.0,10.457338,0.627986
2,164939794,38397958,Team1,20,2025-08-01 00:01:00,Normal,Unranked,1625,Team1,Y,757.0,3985.0,4814.0,398.0,8779.0,1469517.0,5.264201,0.525760
3,1477660209,38397958,Team0,2,2025-08-01 00:01:00,Normal,Unranked,1625,Team1,N,1486.0,13557.0,10260.0,837.0,16124.0,2730293.0,9.123149,0.563257
4,240942631,38397958,Team1,3,2025-08-01 00:01:00,Normal,Unranked,1625,Team1,Y,1948.0,14238.0,9953.0,1042.0,20908.0,3608043.0,7.309035,0.534908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14719,1846894490,38557831,Team1,4,2025-08-05 23:59:11,Normal,Unranked,1880,Team0,N,668.0,3988.0,3356.0,364.0,7076.0,1261963.0,5.970060,0.544910
14720,1081131742,38557831,Team0,27,2025-08-05 23:59:11,Normal,Unranked,1880,Team0,Y,429.0,4046.0,2870.0,271.0,4008.0,713564.0,9.431235,0.631702
14721,147382596,38557831,Team0,17,2025-08-05 23:59:11,Normal,Unranked,1880,Team0,Y,1414.0,12063.0,7106.0,751.0,13370.0,2611840.0,8.531117,0.531117
14722,1897891148,38557831,Team1,10,2025-08-05 23:59:11,Normal,Unranked,1880,Team0,N,36.0,368.0,177.0,32.0,433.0,56397.0,10.222222,0.888889
14723,837901400,38557831,Team1,2,2025-08-05 23:59:11,Normal,Unranked,1880,Team0,N,471.0,3979.0,2652.0,278.0,5222.0,959768.0,8.447983,0.590234